<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Rent-a-car</title>
    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="/assets/vendor/bootstrap/bootstrap.min.css">
    <script src="/assets/vendor/jquery/jquery.min.js"></script>
    <script src="/assets/vendor/jquery-migrate/jquery-migrate.min.js"></script>
    <script src="/assets/vendor/popper.min.js"></script>
    <script src="/assets/vendor/bootstrap/bootstrap.min.js"></script>
</head>
<body>
<main>
    <div class="container">

        <div style=" display: flex;
                justify-content: space-around;
                align-items: center;
                min-height: 10vh;
                background: rgb(73,79,82);
                color: white;">

            <a href="http://localhost:8080/thymeleaf/vozilo" style="color: white;text-decoration: none"><h3>Rent-a-car</h3></a>
            <ul style="width: 59%;
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        list-style: none;">

                <li><a href="http://localhost:8080/thymeleaf/vozilo" style="color: white;text-decoration: none">Vozila</a></li>
                <li><a href="http://localhost:8080/thymeleaf/kategorija" style="color: white;text-decoration: none">Kategorii</a></li>
                <li><a href="http://localhost:8080/thymeleaf/proizvoditel" style="color: white;text-decoration: none">Proizvoditeli</a></li>
                <li><a href="http://localhost:8080/thymeleaf/sopstvenik" style="color: white;text-decoration: none">Sopstvenici</a></li>
                <li><a href="http://localhost:8080/thymeleaf/user" style="color: white;text-decoration: none">Users</a></li>
                <span th:inline="text" th:if="${#httpServletRequest.remoteUser}">Hello, [[${#httpServletRequest.remoteUser}]]</span>
                <form th:action="@{/logout}" method="post" style="display: inline-block">
                    <input th:if="${#httpServletRequest.remoteUser}" type="submit" value="Sign Out" class="btn btn-danger"/>
                </form>
            </ul>

        </div>

        <h1 style="text-align: center">Proizvoditeli</h1>
        <br/>
        <ul class="list-group" th:each="p : ${proizvoditelList}">
            <a th:href="'http://localhost:8080/thymeleaf/proizvoditel/'+${p.id}">
            <li  class="list-group-item list-group-item-default" style="text-align: center"  th:text="${p.name}">
                <!--/*/  <img th:src="${'/device/image/'+d.id}" class="img-responsive" style="width:100px">
                /*/-->

            </a>

                <form sec:authorize="hasAuthority('ADMIN')" th:action="@{/thymeleaf/delete/proizvoditel}" th:method="delete">
                    <input name="proizvoditelId" th:value="${p.id}" type="hidden">
                    <button sec:authorize="hasAuthority('ADMIN')" class="btn btn-danger">Delete</button>
                </form>
            </li>


        </ul>
        <div>
            <br/> <br/>
        </div>

        <form sec:authorize="hasAuthority('ADMIN')" th:action="@{/thymeleaf/proizvoditel/add}" th:method="get">
            <button sec:authorize="hasAuthority('ADMIN')" class="btn btn-dark">Dodaj proizvoditel</button>
        </form>

    </div>
</main>

</body>
</html>