<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Rent-a-car</title>
    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="/assets/vendor/bootstrap/bootstrap.min.css">
    <script src="/assets/vendor/jquery/jquery.min.js"></script>
    <script src="/assets/vendor/jquery-migrate/jquery-migrate.min.js"></script>
    <script src="/assets/vendor/popper.min.js"></script>
    <script src="/assets/vendor/bootstrap/bootstrap.min.js"></script>
</head>
<body>
<main>
    <div class="container">

        <div style=" display: flex;
                justify-content: space-around;
                align-items: center;
                min-height: 10vh;
                background: rgb(73,79,82);
                color: white;">

            <a href="http://localhost:8080/thymeleaf/vozilo" style="color: white;text-decoration: none"><h3>Rent-a-car</h3></a>
            <ul style="width: 59%;
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        list-style: none;">

                <li><a href="http://localhost:8080/thymeleaf/vozilo" style="color: white;text-decoration: none">Vozila</a></li>
                <li><a href="http://localhost:8080/thymeleaf/kategorija" style="color: white;text-decoration: none">Kategorii</a></li>
                <li><a href="http://localhost:8080/thymeleaf/proizvoditel" style="color: white;text-decoration: none">Proizvoditeli</a></li>
                <li><a href="http://localhost:8080/thymeleaf/sopstvenik" style="color: white;text-decoration: none">Sopstvenici</a></li>
                <li><a href="http://localhost:8080/thymeleaf/user" style="color: white;text-decoration: none">Users</a></li>
                <span th:inline="text" th:if="${#httpServletRequest.remoteUser}">Hello, [[${#httpServletRequest.remoteUser}]]</span>
                <form th:action="@{/logout}" method="post" style="display: inline-block">
                    <input th:if="${#httpServletRequest.remoteUser}" type="submit" value="Sign Out" class="btn btn-danger"/>
                </form>
            </ul>

        </div>

        <h2 style="text-align: center">Dodaj vozilo</h2>
        <form class="form" method="post" action="/thymeleaf/vozilo/add/">
            <div class="form-group">
                <label for="Model">Model: </label>
                <input id="Model" type="text" class="form-control" name="model" placeholder="Vnesi model" required>
            </div>

            <div class="form-group">
                <label for="imgUrl">Slika: </label>
                <input id="imgUrl" type="text" class="form-control" name="imgUrl" placeholder="Vnesi url na slika" required>
            </div>


            <div class="form-group">
                <label for="lokacija">Lokacija: </label>
                <input id="lokacija" type="text" class="form-control" name="lokacija" placeholder="Vnesi lokacija" required>
            </div>

            <div class="form-group">
                <label for="cenaPoDen">Cena po den:</label>
                <input id="cenaPoDen" type="number" class="form-control" name="cenaPoDen" placeholder="Vnesi cena po den" required>
            </div>


            <div class="form-group">
                <label for="proizvoditel">Proizvoditel:</label>
                <select id="proizvoditel" class="form-control" name="proizvoditel" required>
                    <option th:each="m : ${proizvoditeli}" th:value="${m.id}" th:text="${m.name}">

                    </option>
                </select>
            </div>

            <div class="form-group">
                <label for="kategorija">Kategorija:</label>
                <select id="kategorija" class="form-control" name="kategorija" required>
                    <option th:each="c : ${kategorii}" th:value="${c.id}" th:text="${c.name}">

                    </option>
                </select>
            </div>

            <div class="form-group">
                <label for="sopstvenik">Sopstvenik:</label>
                <select id="sopstvenik" class="form-control" name="sopstvenik" required>
                    <option th:each="c : ${sopstvenici}" th:value="${c.id}" th:text="${c.ime}">

                    </option>
                </select>
            </div>



            <button type="submit" class="btn btn-succes">Submit</button>
        </form>
    </div>
</main>

</body>
</html>